// base
//
// Styleguide 2.0

html, body{
  height: 100%;
}
body{
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

a.fade_img{
  display: block;
  position: relative;
  img{
    position: absolute;
    top: 0;
    left: 0;
    &:last-child{
      opacity: 0;
    }
  }
  &:hover{
    img:last-child{
      opacity: 1;
    }
  }
}
