<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <title>sample</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" src="js/lib/modernizr-custom.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/main.min.js" charset="utf-8"></script>

    <% if(debug){ %>
    <!-- degub -->
    <script type="text/javascript" src="_debug/debug.js" charset="utf-8"></script>
    <!-- for degub -->
    <% } %>

  </head>
  <body id="<%= id %>">
    <!-- === header === -->
    <header>

    </header>
